<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="barrinha">
        <img src="/NPI-site/images/unifilLogo.png">
        <a class="nome">Núcleo de Práticas de Informática</a>
        <ul class="nav-list">
          <li>
            <a href="/NPI-site/layouts/index.html">Início</a>
          </li>
          <li>
            <a href="/">Regras</a>
          </li>
          <li>
            <a href="/">Faça parte</a>
          </li>
          <li>
            <a href="/">Para integrantes</a>
          </li>
        </ul>
      </nav>
    <p>oi</p>
</body>
</html>